/* RESET */
* {
margin: 0;
padding: 0;
box-sizing: border-box;
}

body {
background-color: #f8f3ed;
color: #4e4137;
font-family: 'Montserrat', sans-serif;
line-height: 1.0;
}

/* MENU */
.menu {
    display: flex;
    list-style: none;
    gap: 35px;

    background-color: #e2d9cf;
    padding: 4px 12px;
    border-radius: 15px;
}

header {
width: 100%;
padding: 25px 8%;
background-color: rgba(216, 207, 195, 0.486);
position: sticky;
top: 0;
backdrop-filter: blur(10px);
z-index: 100;
}

.navbar {
display: flex;
justify-content: space-between;
align-items: center;
}

.logo {
font-family: 'Cormorant Garamond', serif;
font-size: 2rem;
font-weight: 200;
}

.menu {
display: flex;
list-style: none;
gap: 35px;
}

.menu a {
text-decoration: none;
color: #4e4137;
font-weight: 500;
transition: 0.3s;
}

.menu a:hover {
color: #b8aa9e;
}

/* HERO */

.hero {
min-height: 90vh;
display: flex;
align-items: center;
justify-content: space-between;
gap: 60px;
padding: 80px 8%;
}

.hero-texto {
flex: 1;
}

.subtitulo {
color: #9a7657;
letter-spacing: 2px;
text-transform: uppercase;
font-size: 0.9rem;
margin-bottom: 15px;
}

.hero h1 {
font-family: 'Cormorant Garamond', serif;
font-size: 4rem;
line-height: 1.1;
margin-bottom: 25px;
}

.descricao {
max-width: 500px;
margin-bottom: 35px;
font-size: 1.05rem;
}

.botoes {
display: flex;
gap: 20px;
flex-wrap: wrap;
}

.botao-principal,
.botao-secundario {
padding: 14px 28px;
border-radius: 40px;
text-decoration: none;
transition: 0.3s;
}

.botao.principal {
    background-color: #382d1d;
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

.botao.principal:hover {
    background-color: #7e5723;
    transform: scale(1.05);
}

.botao.secundario {
    background-color: transparent;
    color: #333;
    padding: 12px 25px;
    border-radius: 80px;
    border: 2px solid #382d1d;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
}

.botao.secundario:hover {
    background-color: #333;
    color: white;
    transform: scale(1.05);
}

.botao-principal {
background-color: #8c6c52;
color: white;
}

.botao-principal:hover {
background-color: #74563f;
transform: translateY(-3px);
}

.botao-secundario {
border: 1px solid #8c6c52;
color: #8c6c52;
}

.botao-secundario:hover {
background-color: #8c6c52;
color: white;
}

.hero-imagem {
flex: 1;
display: flex;
justify-content: center;
width: 100%;
}

.hero-imagem img {
width: 100%;
max-width: 450px;
border-radius: 35px;
box-shadow: 0 15px 35px rgba(0,0,0,0.15);
}

/* TÍTULOS DAS SEÇÕES */

.galeria p {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 1.5rem; /* subtítulo */
    margin-bottom: 10px;
    font-style: italic;
}

.galeria h2 {
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    font-size: 3.0rem; /* título */
    margin-bottom: 40px;
}

.titulo-section {
text-align: center;
margin-bottom: 50px;
}

.titulo-section p {
color: #9a7657;
text-transform: uppercase;
letter-spacing: 2px;
}

.titulo-section h2,
.sobre h2,
.contato h2 {
font-family: 'Cormorant Garamond', serif;
font-size: 3rem;
margin-top: 10px;
}

/* GALERIA */

.galeria {
    position: relative;
    padding-top: 80px; /* espaço para a linha decorativa */
}

.galeria::before {
    content: "";
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 65%;
    height: 2px;
    background: linear-gradient(
        to right,
        transparent,
        #312811,
        transparent
    );
}
.carrosel-container {
    padding: 100px 8%;
    padding-top: 60px;
}

.carrosel-container {
    overflow: hidden;
    width: 100%;
    position: relative;
}

.carrossel {
    display: flex;
    gap: 30px;
    flex-wrap: nowrap;
    transition: transform 0.5s ease;
}

.card {
    min-width: 290px;
    flex-shrink: 0;
}

.card {
    background-color: rgb(255, 255, 255);
    border-radius: 25px;
    overflow: hidden;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;

    width: 290px;
}

.card:hover {
    transform: translateY(-8px);
}

.card img {
    width: 100%;
    height: 500px;
    object-fit: cover;
    display: block;
}

.card h3 {
    font-family: 'Cormorant Garamond', serif;
    font-size: 2rem;
    padding: 20px 20px 10px;
}

.card p {
    padding: 0 25px 40px;
}

.carrosel-container {
    overflow: hidden;
    width: 100%;
}

.carrossel {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    transition: transform 0.5s ease;
}

.card {
    min-width: 290px;
    flex-shrink: 0;
}

.carrosel-container {
    width: 100%;
    overflow: hidden;
}

.controles {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.carrosel-container {
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
}

.carrossel {
    display: flex;
    flex-wrap: nowrap;
    gap: 30px;
    transition: transform 0.5s ease;
}

/* SOBRE */

.sobre {
display: flex;
align-items: center;
gap: 60px;
padding: 100px 8%;
background-color: #ece2d7;
}

.sobre-imagem,
.sobre-texto {
flex: 1;
}

.sobre-imagem img {
width: 100%;
max-width: 550px;
border-radius: 35px;
box-shadow: 0 15px 35px rgba(0,0,0,0.12);
}

.sobre-texto p:last-child {
margin-top: 25px;
max-width: 600px;
}

/* CONTATO */

.contato h2 {
    margin-bottom: 20px;
}

.contato {
    text-align: center;
    padding: 100px 8%;
}

.contato .botao-principal {
    margin-top: 80px; 
    display: inline-block;
    background-color: #422012;
    color: white;
}

/* RODAPÉ */

footer {
background-color: #4e4137;
color: white;
text-align: center;
padding: 50px 20px;
}

footer h3 {
font-family: 'Cormorant Garamond', serif;
font-size: 2rem;
}

footer p {
margin: 15px 0 25px;
}

.social {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.social img {
    width: 35px;
    height: auto;
    transition: 0.3s;
}

.social img:hover {
    transform: scale(1.15);
}

.redes {
display: flex;
justify-content: center;
gap: 25px;
}

.redes a {
color: white;
text-decoration: none;
transition: 0.3s;
}

.redes a:hover {
color: #d8b99d;
}

/* RESPONSIVO */

@media (max-width: 900px) {

.hero,
.sobre {
flex-direction: column;
text-align: center;
}

.descricao {
margin: 0 auto 35px;
}

.botoes {
justify-content: center;
}

.menu {
gap: 15px;
font-size: 0.9rem;
}

.hero h1 {
font-size: 3rem;
}

.titulo-section h2,
.sobre h2,
.contato h2 {
font-size: 2.5rem;
}
}

@media (max-width: 600px) {

.navbar {
flex-direction: column;
gap: 20px;
}

.menu {
flex-wrap: wrap;
justify-content: center;
}

.hero h1 {
font-size: 2.4rem;
}

.titulo-section h2,
.sobre h2,
.contato h2 {
font-size: 2rem;
}

.rodape {
    text-align: center;
    width: 100%;
}
}
